<header class="bg-white w-100 position-sticky p-3 border-bottom">

  <div class="d-flex justify-content-end">

    <ng-select class="w-25" [items]="languages" bindLabel="name" bindValue="id" [(ngModel)]="currentLang"
      [searchable]="false" [clearable]="false" (change)="changeLang($event)">

      <!-- selected item -->

      <ng-template ng-label-tmp let-item="item">

        <div class="d-flex align-items-center">
          <img [src]="item.flag" width="20" height="15" class="me-2 rounded" />
          <span>
            {{ item.name }}
          </span>
        </div>

      </ng-template>

      <!-- dropdown item -->

      <ng-template ng-option-tmp let-item="item">

        <div class="d-flex align-items-center">

          <img [src]="item.flag" width="20" height="15" class="me-2 rounded" />

          <span>
            {{ item.name }}
          </span>

        </div>

      </ng-template>

    </ng-select>

  </div>

</header>