<section class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light py-5">

    <div class="row w-100 shadow-lg rounded-4 overflow-hidden bg-white" style="max-width: 1000px;">

        <!-- Left Side -->
        <div
            class="col-lg-6 d-none d-lg-flex flex-column justify-content-center align-items-center bg-primary text-white p-5">
            <h1 class="fw-bold mb-3">
                Forgot Password?
            </h1>
            <p class="text-center opacity-75">
                Don’t worry, we’ll help you recover your account step by step.
            </p>
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png" class="img-fluid mt-4"
                style="max-width: 300px;" alt="Forgot Password" />
        </div>

        <!-- Right Side -->
        <div class="col-lg-6 col-12 p-4 p-md-5">
            <!-- Title -->
            <div class="mb-4 text-center">
                <h2 class="fw-bold">
                    Reset Password
                </h2>
                <p class="text-muted">
                    Follow the steps below
                </p>
            </div>

            <!-- Progress -->
            <div class="d-flex justify-content-between align-items-center mb-5">

                <div class="text-center flex-fill">

                    <div class="rounded-circle mx-auto mb-2 d-flex align-items-center justify-content-center"
                        [class.bg-primary]="currentStep() >= 1" [class.bg-secondary]="currentStep() < 1"
                        style="width:40px;height:40px;color:white;">
                        1
                    </div>

                    <small>Email</small>

                </div>

                <div class="flex-fill border-top"></div>

                <div class="text-center flex-fill">

                    <div class="rounded-circle mx-auto mb-2 d-flex align-items-center justify-content-center"
                        [class.bg-primary]="currentStep() >= 2" [class.bg-secondary]="currentStep() < 2"
                        style="width:40px;height:40px;color:white;">
                        2
                    </div>

                    <small>Code</small>

                </div>

                <div class="flex-fill border-top"></div>

                <div class="text-center flex-fill">

                    <div class="rounded-circle mx-auto mb-2 d-flex align-items-center justify-content-center"
                        [class.bg-primary]="currentStep() >= 3" [class.bg-secondary]="currentStep() < 3"
                        style="width:40px;height:40px;color:white;">
                        3
                    </div>

                    <small>Password</small>

                </div>

            </div>

            <!-- STEP 1 -->
            @if (currentStep() === 1) {

            <form [formGroup]="verfiyEmailForm" (ngSubmit)="sendEmail()">

                <div class="mb-4">

                    <label class="form-label fw-semibold">
                        Email Address
                    </label>

                    <input type="email" formControlName="email" class="form-control form-control-lg"
                        placeholder="Enter your email"
                        [class.is-invalid]="verfiyEmailForm.get('email')?.invalid &&verfiyEmailForm.get('email')?.touched" />

                    @if ( verfiyEmailForm.get('email')?.invalid &&verfiyEmailForm.get('email')?.touched) {

                    <div class="invalid-feedback d-block">
                        @if (verfiyEmailForm.get('email')?.getError('required')) {
                        Email is required
                        }
                        @if (verfiyEmailForm.get('email')?.getError('email')) {
                        Please enter valid email
                        }
                    </div>

                    }

                </div>

                <button class="btn btn-primary w-100 py-3 fw-semibold">
                    @if (isLoading()) {
                    <i class="fas fa-spinner fa-spin"></i>
                    }@else {
                    Send Verification Code
                    }
                </button>

            </form>

            }

            <!-- STEP 2 -->
            @if (currentStep() === 2) {

            <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">

                <div class="mb-4">

                    <label class="form-label fw-semibold">
                        Verification Code
                    </label>

                    <input type="text" formControlName="resetCode" class="form-control form-control-lg text-center"
                        placeholder="Enter reset code" [class.is-invalid]="verifyCodeForm.get('resetCode')?.invalid && verifyCodeForm.get('resetCode')?.touched" />

                    @if (
                    verifyCodeForm.get('resetCode')?.invalid &&
                    verifyCodeForm.get('resetCode')?.touched
                    ) {

                    <div class="invalid-feedback d-block">

                        @if (verifyCodeForm.get('resetCode')?.getError('required')) {

                        Reset code is required

                        }

                        @if (verifyCodeForm.get('resetCode')?.getError('pattern')) {

                        Code must be 6 digits

                        }

                    </div>
                    }
                </div>
                <button class="btn btn-primary w-100 py-3 fw-semibold">
                    @if (isLoading()) {
                    <i class="fas fa-spinner fa-spin"></i>
                    }@else {
                    Verify Code}

                </button>

            </form>

            }

            <!-- STEP 3 -->
            @if (currentStep() === 3) {

            <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
                <div class="mb-4">
                    <label class="form-label fw-semibold">
                        Email Address
                    </label>

                    <input type="email"[readOnly]="true"  formControlName="email" class="form-control form-control-lg"
                        placeholder="Enter your email"
                        [class.is-invalid]="newPasswordForm.get('email')?.invalid &&newPasswordForm.get('email')?.touched" />

                    @if ( newPasswordForm.get('email')?.invalid &&newPasswordForm.get('email')?.touched) {

                    <div class="invalid-feedback d-block">
                        @if (newPasswordForm.get('email')?.getError('required')) {
                        Email is required
                        }
                        @if (newPasswordForm.get('email')?.getError('email')) {
                        Please enter valid email
                        }
                    </div>

                    }

                </div>

                <div class="mb-4">
                    <label class="form-label fw-semibold">
                        New Password
                    </label>
                    <input type="password" formControlName="newPassword" class="form-control form-control-lg"
                        placeholder="Enter new password" />
                     @if ( newPasswordForm.get('newPassword')?.invalid &&newPasswordForm.get('newPassword')?.touched) {

                    <div class="invalid-feedback d-block">
                        @if (newPasswordForm.get('newPassword')?.getError('required')) {
                        New password is required
                        }
                        @if (newPasswordForm.get('newPassword')?.getError('pattern')) {
                        Password must be 6-20 characters long and start with a capital letter
                        }
                    </div>

                    }
                </div>

                <button class="btn btn-success w-100 py-3 fw-semibold">
                    @if (isLoading()) {
                    <i class="fas fa-spinner fa-spin"></i>
                    }@else {
                    Reset Password}

                </button>

            </form>

            }
                <!-- Error Message -->
                <div class="invalid-feedback d-block">
                        @if (errorMessage()) {
                        {{ errorMessage() }}
                        }              
                    </div>
        </div>

    </div>
   

</section>