<aside class=" w-100 vh-100 bg-white border" aria-label="Sidebar">

  <!-- Logo -->
  <div class=" p-2 ">
    <img src="logo.jpeg" class="w-25 " alt="Logo">
  </div>

  <!-- Sidebar Content -->
  <div class="border-top p-3 ">
    <ul class=" list-unstyled fs-5 ">

      <!-- Dashboard -->
      <li class="my-3 d-flex  align-items-center ">
        <i class="pi pi-home"></i>
        <a routerLink="/dashboard" class=" text-black fw-medium text-decoration-none ">



          <span class="ms-2   text-gray-700  ">
            Dashboard
          </span>

        </a>

      </li>

      <!-- Ecommerce -->
      <li class="my-3 d-flex align-items-center">
        <i class="pi pi-shopping-cart"></i>
        <a routerLink="/ecommerce" class=" text-black fw-medium text-decoration-none ">



          <span class="ms-2  text-gray-700  ">
            Dashboard
          </span>

        </a>

      </li>

    </ul>

  </div>

</aside>