<aside class=" w-100 vh-100 bg-white border" aria-label="Sidebar">

  <!-- Logo -->
  <div class=" p-3 ">
    <img src="logo.jpeg" class="w-25 " alt="Logo">
  </div>

  <!-- Sidebar Content -->
  <div class="border-top px-3 ">
    <ul class=" list-unstyled ">

      <!-- Dashboard -->
      <li [routerLink]="PROJECT_PAGES.dashboard.base" routerLinkActive="active"
        class="my-2 d-flex small  align-items-center  rounded-2 p-2 link-item ">
        <i class="text-muted  pi pi-home"></i>
        <span class="fw-medium  mx-2 text-black">{{ 'SIDEBAR.DASHBOARD' | translate }}</span>
      </li>

      <!-- Orders -->
      <li [routerLink]="" routerLinkActive="active"
        class="my-2 d-flex small  align-items-center  rounded-2 p-2 link-item ">
        <i class="text-muted pi pi-shopping-cart"></i>
        <span class="fw-medium mx-2 text-black">{{ 'SIDEBAR.ORDERS' | translate }}</span>
      </li>


    </ul>

  </div>

</aside>